---
import { getCollection } from "astro:content";
import NoticeCard from "~/components/NoticeCard.astro";
import OpenGraphMeta from "~/components/OpenGraphMeta.astro";
import Footer from "~/layouts/Footer.astro";
import Header from "~/layouts/Header.astro";
import HtmlLayout from "~/layouts/HtmlLayout.astro";
import PageContainer from "~/layouts/PageContainer.astro";
import version from "~/version";

const title = "Studi Events";

const notices = await getCollection("notices");
---

<HtmlLayout title={title}>
  <OpenGraphMeta
    slot="meta"
    title={title}
    description="Das Studierenden-Pinnwand - Deine zentrale Plattform für Events, News und wichtige Ankündigungen an der Uni und Hochschule."
    image="/htwgasgeht.png"
    url="https://studi-events.vercel.app"
  />
  <Header />
  <PageContainer as="div" size="xs">
    <main class="min-h-screen">
      <div class="grid grid-cols-1 gap-2 sm:gap-4">
        {notices.map((notice) => <NoticeCard notice={notice} />)}
      </div>
    </main>
  </PageContainer>
  <Footer version={version} />
</HtmlLayout>
