---
import OpenGraphMeta from "~/components/OpenGraphMeta.astro";
import Footer from "~/layouts/Footer.astro";
import Header from "~/layouts/Header.astro";
import HtmlLayout from "~/layouts/HtmlLayout.astro";
import PageContainer from "~/layouts/PageContainer.astro";
import version from "~/version";

const title = "Studi Events";
---

<HtmlLayout title={title}>
  <OpenGraphMeta
    slot="meta"
    title={title}
    description="Das Studierenden-Pinnwand - Deine zentrale Plattform für Events, News und wichtige Ankündigungen an der Uni und Hochschule."
    image="/htwgasgeht.png"
    url="https://studi-events.vercel.app"
  />
  <Header />
  <PageContainer as="div">
    <main class="min-h-screen">
      <p class="dark:text-neutral-200">Hallo!</p>
    </main>
  </PageContainer>
  <Footer version={version} />
</HtmlLayout>
